# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Directorio de producción
build/
dist/

# Directorios temporales
tmp/
temp/

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de test
coverage/

# Archivos de editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos de sistema
.DS_Store
Thumbs.db
